* {
  box-sizing: border-box;
}

.sidebar_content {
  border: 0.5px solid #c8c8c8;
  border-radius: 20px;
  width: auto;
  margin-top: 15px;
  background-color: white;
  position: sticky;
  top: 10px;
}

.sidebar_element {
  padding-block: 5px;
  padding-inline: 10px;
}

.sidebar_content ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.listing_bar {
  border: 0.5px solid #c8c8c8;
  border-radius: 10px;
  margin-top: 15px;
}

