/* @import url("https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"); */

/* .app {
  margin: 0 auto; 
  width: 960px; 
} */

.content {
  font-family: "Oswald", sans-serif;
  font-size: x-large;
  color: hsl(200, 100%, 30%);
  display: flex;
  justify-content: start;
  margin-left: 150px;
  margin-top: 15px;
}

.vl {
  border-left: 1px solid black;
  height: 500px;
}

ul {
  list-style-type: none;
}

ul li {
  padding:2px;
}

a {
  text-decoration: none;
  font-size: 18px;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}

.generate_button {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.header_content {
  display: flex;
  justify-content: space-between;
  padding: 15px 15px;
  margin-right: 150px;
  margin-left: 80px;
}

.header_content ul {
  display: flex;
  list-style-type: none;
}

.header_content ul li {
  padding: 2px;
}

.checkbox {
  margin-left: 10px;
}
